.plus-icon{
  position: absolute;
  top: 11px;
  right: -1px;
  font-size: 10px;
  background-color: #091a32;
}

::ng-deep app-hierarchy-menu .p-scrollpanel-content {
  height: 100% !important;
  padding: 0 18px 0 0 !important;
}