<p-splitter  *ngIf="project" [style]="{'height': 'calc(100vh - 34px)'}" [panelSizes]="[25,75]" [minSizes]="[15,75]">
  <ng-template pTemplate>
    <p-splitter [style]="{'height': 'calc(100vh - 35px)'}" [panelSizes]="[50,50]" [minSizes]="[20,20]">

      <!-- FILES -->
      <ng-template pTemplate>
        <app-hierarchy-menu 
          style="width: 100%;"
          [items]="project.files"
          [updateCollapsedOnItem]="true"
          (init)="onHierarchyMenuInit($event)"
          (openItem)="openItem($event)"
          (itemDeleted)="onItemDeleted($event)"
        ></app-hierarchy-menu>
      </ng-template>

      <!-- INDEX -->
      <ng-template pTemplate>
        <app-text-editor-index
          *ngIf="currentOpenedPage"
          style="width: 100%;"
          [editor]="mainEditor"
          (nodeSelected)="onNodeSelected($event)"
      ></app-text-editor-index>
      </ng-template>
    </p-splitter>

  </ng-template>

  <!-- MAIN EDITOR -->
  <ng-template pTemplate>
    <p-splitter [style]="{'height': 'calc(100vh - 35px)'}" [panelSizes]="[80,20]" [minSizes]="[60,20]">
      <ng-template pTemplate>
        <div class="main-text-editor-wrapper flex flex-column">
          <app-tabs [tabs]="openedFiles" [activeTabIndex]="currentOpenedPageIndex" (onCloseTab)="closeFile($event)" (onTabClicked)="openFile($event)"></app-tabs>
          <div class="text-editor-menu"><p-menubar [model]="editorMenu"></p-menubar></div>
          <app-editor
            *ngIf="currentOpenedPage"
            [data]="currentOpenedPage.data"
            [pageId]="currentOpenedPage.id"
            (editorReady)="onMainEditorReady($event)"
            (dataChanged)="onEditorDataChange($event)"
          ></app-editor>
        </div>
      </ng-template>
      <!-- NOTES -->
      <ng-template pTemplate>
        <div style="width: 100%">
          <app-notes-container [notesIndex]="project.notes"></app-notes-container>
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>

</p-splitter>

<!-- REFERENCE -->
<p-dialog header="Choose Reference" [(visible)]="isReferenceChooseVisible" [style]="{width: '50vw'}" [modal]="true" (onHide)="selectedReference = undefined">
  <app-hierarchy-menu 
    *ngIf="project" 
    [items]="project.files | execute : removeCurrentFile"
    (itemSelected)="onReferenceSelected($event)"
    [showContextMenu]="false"
    [showAddActions]="false"
    [enableDragAndDrop]="false">
  </app-hierarchy-menu>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Create" class="p-button-success" [disabled]="!selectedReference" (click)="selectReference()"></button>
    <button pButton type="button" label="Cancel" class="p-button-danger" (click)="isReferenceChooseVisible = false; selectedReference = undefined"></button>
  </ng-template>
</p-dialog>

<p-overlayPanel #referenceOP [styleClass]="'referenceOverlay'">
  <ng-template pTemplate>
    <ng-container *ngIf="currentReference">
      <h4 class="text-center">{{currentReference.name}}</h4>
      <!-- <app-editor
        *ngIf="currentReference"
        [data]="currentReference.data"
        [pageId]="currentReference.id + '_reference'"
        [id]="currentReference.id"
        [maxHeightStyle]="'500px'"
      ></app-editor> -->
      <div [innerHTML]="currentReference.data | safeHtml" style="word-wrap: break-word;"></div>
    </ng-container>
    <div *ngIf="!currentReference">The reference doesn't exist!</div>
  </ng-template>
</p-overlayPanel>

<!-- NOTES -->
<app-form-note
  *ngIf="project"
  [visible]="noteData.visible"
  [note]="noteData.note"
  (confirmNote)="createNote($event)"
  (close)="closeCreateNote()"
  [notes]="project.notes"
></app-form-note>