<div 
  *ngIf="item.type === 'FILE'"
  class="flex align-items-center cursor-pointer item prevent-select"
  [ngClass]="{'with-parent': hasParent, 'selected': isSelected, 'isDragUp': isDragUp, 'isDragBelow': isDragBelow}"
  (click)="onItemSelected($event)"
  (dblclick)="onOpenItem()"
  (contextmenu)="onItemSelected()"
  role="button"
  tabindex="0"
  [title]="item.name"
  [draggable]="enableDragAndDrop"
  (dragstart)="onDragStart($event, item)"
  (dragend)="onDragEnd($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="drop($event)"
  [draggable]="!isEditing"
>
  <!-- <i class="pi pi-file"></i>  -->
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 2l.117 .007a1 1 0 0 1 .876 .876l.007 .117v4l.005 .15a2 2 0 0 0 1.838 1.844l.157 .006h4l.117 .007a1 1 0 0 1 .876 .876l.007 .117v9a3 3 0 0 1 -2.824 2.995l-.176 .005h-10a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h5z" /><path d="M19 7h-4l-.001 -4.001z" /></svg>
  <span *ngIf="!isEditing">&nbsp;{{item.name}}</span>
  <input *ngIf="isEditing" (blur)="onBlur($event)" pAutoFocus [autofocus]="true" (input)="onInput($event)" [ngClass]="{'invalid': isInvalid}" [value]="item.name">
</div>

<ng-container *ngIf="item.type === 'FOLDER'">
  <div 
    class="flex align-items-center cursor-pointer item prevent-select" 
    [ngClass]="{'with-parent': hasParent, 'selected': isSelected, 'isDragUp': isDragUp, 'isDragBelow': isDragBelow}"
    (click)="onItemSelected($event, true)"
    (contextmenu)="onItemSelected()"
    role="button"
    tabindex="0"
    [draggable]="enableDragAndDrop"
    (dragstart)="onDragStart($event, item)"
    (dragend)="onDragEnd($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="drop($event)"
    [draggable]="!isEditing"
  >
    <!-- <i class="pi" [ngClass]="{'pi-folder': collapsed, 'pi-folder-open': !collapsed}"></i> -->
    <svg *ngIf="collapsed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#ffa62e" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 3a1 1 0 0 1 .608 .206l.1 .087l2.706 2.707h6.586a3 3 0 0 1 2.995 2.824l.005 .176v8a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-11a3 3 0 0 1 2.824 -2.995l.176 -.005h4z" /></svg>
    <svg *ngIf="!collapsed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#ffa62e" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M2 6c0 -.796 .316 -1.558 .879 -2.121c.563 -.563 1.325 -.879 2.121 -.879h4l.099 .005c.229 .023 .444 .124 .608 .288l2.707 2.707h6.586c.796 0 1.558 .316 2.121 .879c.319 .319 .559 .703 .707 1.121l-14.523 0c-.407 0 -.805 .125 -1.14 .356c-.292 .203 -.525 .48 -.674 .801l-.058 .141l-1.379 3.676c-.194 .517 .068 1.093 .585 1.287c.517 .194 1.094 -.068 1.288 -.585l1.134 -3.027c.146 -.39 .519 -.649 .937 -.649h13.002l.217 .012c.216 .024 .426 .082 .624 .173c.054 .025 .107 .053 .159 .083c.199 .115 .377 .263 .525 .439c.188 .222 .325 .482 .403 .762c.077 .28 .092 .573 .045 .859c-.001 .008 -.003 .016 -.005 .024l-.995 5.21c-.131 .686 -.497 1.304 -1.036 1.749c-.47 .389 -1.046 .624 -1.65 .677l-.261 .012h-14.026c-.796 0 -1.558 -.316 -2.121 -.879c-.563 -.563 -.879 -1.325 -.879 -2.121v-11z" /></svg>
    <span *ngIf="!isEditing">&nbsp;{{item.name}} </span>
    <input *ngIf="isEditing" (blur)="onBlur($event)" pAutoFocus [autofocus]="true" (input)="onInput($event)" [ngClass]="{'invalid': isInvalid}" [value]="item.name">
    <i *ngIf="!isEditing" class="pi arrow" [ngClass]="{'pi-chevron-right': collapsed, 'pi-chevron-down': !collapsed}"></i>
  </div>

  <div *ngIf="!collapsed" class="ml-3">
    <app-hierarchy-menu-item *ngFor="let child of item.children" [item]="child" [collapsed]="child.collapsed" [hasParent]="true"></app-hierarchy-menu-item>
  </div>

</ng-container>

