.index-title{
  background-color: var(--bgDark);
}

.reference{
  display: flex;
  align-items: center;
  padding: 0.1rem;
  justify-content: space-between;
  cursor: zoom-in;
}
.reference i{
  padding: 3px 4px;
  border-radius: 3px;
  cursor: pointer;
}
.reference i:hover{
  color: white;
  background-color: #091a32;
}

p-tree{
  word-break: break-word;
}

ul{
  list-style-type: none;
  padding: 10px;
}

li{
  padding: 5px;
  cursor: pointer;
}

.h1{
  font-weight: bold;
  font-size: 1.2rem;
}

.h2{
  padding-left: 20px;
  font-weight: 400;
}

